.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f2edb6;
    z-index: 999999999999999;
}

.preloader-content::before {
    content: "...Loading...";
    animation: loading 5s linear infinite;
}

@keyframes loading {
    000% { content: "Kalo Agak Lama Mungkin ............. Internet Kamu, Hehe"; }
    010% { content: "Kalo Agak Lama Mungkin ...L......... Internet Kamu, Hehe"; }
    015% { content: "Kalo Agak Lama Mungkin ...Lo........ Internet Kamu, Hehe"; }
    020% { content: "Kalo Agak Lama Mungkin ...Loa....... Internet Kamu, Hehe"; }
    030% { content: "Kalo Agak Lama Mungkin ...Loa....... Internet Kamu, Hehe"; }
    035% { content: "Kalo Agak Lama Mungkin ...Load...... Internet Kamu, Hehe"; }
    040% { content: "Kalo Agak Lama Mungkin ...Loadi..... Internet Kamu, Hehe"; }
    055% { content: "Kalo Agak Lama Mungkin ...Loadin.... Internet Kamu, Hehe"; }
    060% { content: "Kalo Agak Lama Mungkin ...Loading... Internet Kamu, Hehe"; }
    070% { content: "Kalo Agak Lama Mungkin ....oading... Internet Kamu, Hehe"; }
    075% { content: "Kalo Agak Lama Mungkin .....ading... Internet Kamu, Hehe"; }
    080% { content: "Kalo Agak Lama Mungkin ......ding... Internet Kamu, Hehe"; }
    085% { content: "Kalo Agak Lama Mungkin .......ing... Internet Kamu, Hehe"; }
    090% { content: "Kalo Agak Lama Mungkin ........ng... Internet Kamu, Hehe"; }
    095% { content: "Kalo Agak Lama Mungkin .........g... Internet Kamu, Hehe"; }
    100% { content: "Kalo Agak Lama Mungkin ............. Internet Kamu, Hehe"; }
}

.preloader-content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* background-color: black; */
    z-index: 9999999999999991;
    width: 100vw;
    height: 10vh;
    transform: translate(-50%, -50%);
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
}

@keyframes loaded {
    000% { opacity: 1; }
    100% { opacity: 0; }
}

.loaded {
    animation: loaded 1s ease-out;
    opacity: 0;
}